* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #037bfc,#00438c);
}

.navbar-brand {
    color: #fff !important;
    font-weight: 600;
}
.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars {
    color: #fff;
    font-size: 30px  !important;
}
.navbar-toggler {
    outline: none !important;
}

/* Banner */
#banner{
    background-image: linear-gradient(to right, #037bfc,#00438c);
    color: #fff;
    padding-top: 5%;
}
.banner-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.bottom-img {
    width: 100%;
    height: 100%;
}

/* Service */
#service {
    padding: 80px 0;
}
.service-img {
    width: 100px;
    margin-top: 20px;
}
.services {
    padding: 20px;
}
.services h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: 600;
}
.title::before {
    content: '';
    background: #0263cc;
    height: 5px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after {
    content: '';
    background: #0263cc;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}


/* Blog */
#blog {
    padding: 20px;
    margin: 60px 0;
    background: #f8f9fa;
}

.blog {
    border-left: 4px solid #0263cc;
    margin-top: 50px;
    margin-bottom: 50px;
}
.blog img {
    height: 60px;
    width: 100px;
    margin: 0 10px;
}
.blog-title {
    display: inline-block;
    font-size: 12px;
}
#blog .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #037bfc,#00438c);
}

/* Social Media */
#social-media {
    padding: 100px 0px;
}
#social-media p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img {
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img {
    transform: translateY(-10px);
}

/* footer */
footer {
    background-image: linear-gradient(to right, #037bfc,#00438c);
    color: #fff;
}

.footer-img {
    width: 100%;
}
.footer-box {
    padding: 20px;
}
.footer-box h4 {
    font-weight: 600;
    margin-bottom: 20px;
}
.footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #037bfc,#00438c);
}
.footer-box .form-control {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #037bfc,#00438c);
}
hr {
    background-color: #fff;
}
.copyright {
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}